# Various LaTeX by products
*.aux
*.gz
*.log
*.fls
*.fdb_latexmk
*.out
*.xdv
*.blg
*.bbl
*.acn
*.glo
*.ilg
*.ind
*.ist
*.toc
*.idx
*.synctex.gz
*.d
*.lb

# Private sections
contact.tex
clearances.tex
salary_history
old/

# Output files
*.pdf
